html, body{
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
	background-color: transparent;
	font-family: Baskerville, serif;
	font-size: 18pt;
	color: #161616;
	line-height: 1.35em;
	overflow: hidden;
}


.cursorClick {
	cursor: url("../images/exit.png");
}

.background {
	position: fixed;
	z-index: -10;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #f9f9f9;

}

.bar {
	width: calc(100% - 80px);
	height: 5px;
	position: fixed;
	left: 40px;
	bottom: 40px;
	opacity: 0;
	z-index: 0;
}


.singleBar {
	position: relative;
	width: 32%;
	height: 100%;
	margin: auto;
	float: left;
	background-color: #eeeeee;
	transition: 0.5s;
	cursor: pointer;
}

.singleBar:hover {
		transform: scaleY(2);
		transition: 0.2s;
}

.activeArea {
	position: absolute;
	top: -30px;
	right: 0;
	bottom: -30px;
	left: 0;

}

#pledgeBar {
	margin-right: 2%;
}

#declarationBar {
	margin-right: 2%;
}

.barShow {
	transition-delay: 1s;
	transition: 1s;
	opacity: 1;
}

.selected {
	transition: 0.5s;
	background-color: #bbbbbb;
}

.menuMobile {
	visibility: hidden;
	width: 0;
	height: 0;
}


.menu {
	position: fixed;
	background-color: transparent;
	z-index: 90;
	top:0;
	left: 0;
	box-sizing: border-box;
	padding: 15px 30px 30px 25px;

}

.smallTitle {
	margin: 0;
	cursor: pointer;
	margin-bottom: 14px;
}

h3 {
	font-weight: bold;
	font-size: 18pt;
	line-height: 14.5pt;
	text-align: left;
	margin: 0;
}

.otherMenuItems {
	transform: translateX(-110%);
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;
}

.showMenuItems {
	opacity: 1;
	pointer-events: auto;
	transition: 0.5s;
	transform: translateX(0%);
}

.menuItem {
	color: black;
	font-family: Heebo, sans-serif;
	font-size: 9pt;
	line-height: 20pt;
	cursor: pointer;
}

.menuItem:hover {
	font-weight: bold;
}

#archiveLink {
	text-decoration: none;
	color: black;
}


.info {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #212121;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}

.infoClickBox {
	position: relative;
	top: 25vh;
	left: 15vw;
	width: 50vw;
	height: 35vh;
	background-color: white;
	opacity: 0.3;
	cursor: pointer;
}

.infoText {
	position: absolute;
	font-size: 14pt;
	line-height: 14pt;
	width: 100%;
	font-family: Heebo, sans-serif;
	background-color: transparent;
	color: white;
	text-align: left;
	margin-left: 0;
	opacity: 1;
	cursor: default;
}

.infoTextTop {
	bottom: 100%;
	opacity: 1;
}

.infoTextBottom {
	top: 100%;
	opacity: 1;
}

.infoShow {
	transition: 0.5s;
	opacity: 0.9;
	visibility: visible;
}

.variables-container {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100vw;
	height: 100vh;
	background-color: transparent;
	overflow: hidden;
	pointer-events: none;
}

.variables-container-2 {
	transform: scale(0.6, 0.6) translateX(-30vw);
	overflow: visible;
}

.variablesOverlay {
	cursor: default;
	position: relative;
	width: calc(100% - 80px);
	height: calc(100% - 80px);
	top: 40px;
	left: 40px;
	overflow: visible;
}

.variablesToFront {
	z-index: 11;
	pointer-events: auto;
}

.variablesOverlay.variablesToFront {
	transition: 0.5s;
	background-color: #eeeeee;
}

.hold {
	height: 10%;
}


.articleText {
	width: calc(45vw - 60px);
	margin: 30px 30px 30px 30px;
}

.articleText p, .articleText ul, .articleText ol {
	font-family: Heebo, sans-serif;
	font-size: 11pt;
	line-height: 16pt;
}

.readArticle .articleBox {
	background-color: transparent;
	overflow: scroll;
}

.archiveLink {
	display: block;
	margin: 10px;
	text-align: right;
	font-family: Heebo, sans-serif;
	font-size: 10pt;
	font-style: italic;

}

.articleText a {
	display: block;
	margin: 10px;
	text-align: right;
	font-family: Heebo, sans-serif;
	font-size: 10pt;
	font-style: italic;
	color: black;
	text-decoration: underline;

}


.articleOverlayVisible {
	visibility: visible;
}


.imgContainer {
	z-index: 0;
	position: absolute;
	width: 30vw;
	height: 30vh;
	background-color: white;
	top: 0%;
	left: 0%;
}

#loadImage {
	z-index: 0;
	width: 100%;
	height: 100%;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	vertical-align: middle;
	background: transparent;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: 50% 50% !important;
}

.imgOverlay {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.articleBox {
	background-color: transparent;
	position: absolute;
	width: 50%;
	height: 0px;
	bottom: 0%;
	overflow: hidden;
	cursor: pointer;
	right: 0%;
}

.articleBoxPeek {
	height: 20px;
	transition: 0.6s;
	transition-timing-function: ease;
}

.articleBoxBounce {
	height: 25px;
	transition: 0.4s;
	transition-timing-function: ease;
}



.articleBoxExpand {
	height: 100%;
	transition: 0.7s;
	overflow-y: scroll;
	background-color: transparent;
}

.articleBoxPlaceRight.articleBoxExpand .fa-sort-up {
	transform: rotateZ(-90deg);
}


.readMore {
	padding-right: 10px;
	text-align: right;
	font-family: Heebo, sans-serif;
	font-size: 10pt;
	line-height: 16pt;
	font-style: italic;
	bottom: 100%;
	opacity: 1;
	transition-timing-function: ease-in;
	transition: 1.6s;
	background-color: #cccccc;
	width: calc(100%-10px);
	height: 26px;

}

.readArticle .readMore {
	opacity: 0;
	transition: 0.3s;
}

.caption {
	position: absolute;
	width: 25vw;
	margin:0;
	padding: -30px;
	font-size: 11pt;
	line-height: 1.2em;
	font-family: Heebo, sans-serif;
}

.caption p {
	font-weight: normal !important;
	margin: 10px 0px 10px 0px;
}

.captionPlaceAbove {
	bottom: calc(100% + 12px);
	left: 0;
	border-bottom-width: 2px;
	border-bottom-color: #212121;
	border-bottom-style: solid;
}

.captionPlaceBelow {
	top: calc(100% + 12px);
	left: 0;
	border-top-width: 2px;
	border-top-color: #212121;
	border-top-style: solid;
}

.readArticle .caption {
	visibility: hidden;
}

.phraseHeadingContainer {
	cursor: default;
	margin: 0;
	position: absolute;
	color: #161616;
	top: 0;
	left: 0;
	width: 45%;
	pointer-events: none;
	display: inline-block;
}


.phraseHeading {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 4em;
	line-height: 1.2em;
	pointer-events: none;
	cursor: move;
}

.exitOverlay {
	opacity: 0;
	position: fixed;
	z-index: 12;
	padding: 20px;
	top: 20px;
	right: 20px;
	background-image: url("../images/exit.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.phrase {
	box-sizing: border-box;
	display: inline;
	padding: 10px 0px 10px 0px;
	cursor: pointer;
}

.show {
	opacity: 1;
	transition: opacity 0.5s;
	transition-timing-function: ease-out;
}


.page-container {
	position: absolute;
	z-index: 2;
	margin: 0;
	width: 300%;
	height: 100%;
	background-color: transparent;
	opacity: 1;
	transition: 2s;
	transition: transform 0.5s;
	pointer-events: none;
	left: 0;
}

.view1 {
	transform: translateX(0vw);
}

.view2 {
	transform: translateX(-100vw);
}

.view3{
	transform: translateX(-200vw);
}

.pageContainerHide {
	opacity: 0;
	transition: 2s;
}

.darker {
	background-color: #f2f2f2;
	color: #f2f2f2;
}


.intro-container {
	z-index: 100;
	height: 100%;
	width: 100%;
	position: fixed;
	transition: 2s;
	overflow: hidden;
}

.intro-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #161616;
}

.intro-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.05;
	filter: blur(5px);
	transition: 2s;
	background-size: cover;
	background-position: center;

}

#img1 {
	background: url(../images/variables/flag.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}


.title {
	position: absolute;
	overflow: hidden;
	transition: 2s;
	height: 100%;
	width: 100%;
	min-width: 520px;
}



h1 {
	background-color: transparent;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	width: 60vw;
	margin: auto;
	color: transparent;
	font-size: 25vh;
	line-height: 0.8em;
	text-align: left;
	transition: 0s;
	top: 20%;
	left: 20%;
}

.titleGrow {
	transform: scale(1.5,1.5);
	transition: 1s;
	transition-timing-function: ease;
}

.titleGrow h1 {
	cursor: default;
}

.clickedTitle {
	z-index: 50;
	position: relative;
	color: #161616;
	background-color: #f9f9f9;
	transition: 1s;
}

.clickedTitleBg {
	background-color: transparent;
	transition: 1s;
}

.clickedTitleImg {
	opacity: 0;
	transition: 1s;
}


.aboutSection {
	z-index: 10 !important;
	opacity: 0;
	position: relative;
	width: 100%;
	top: 0%;
	height: 100vh;
	cursor: default;
	margin-left: 0;
	overflow-x: hidden;
	pointer-events: none;
}

.aboutTextContainer {
	position: absolute;
	margin-top: 12vh;
	left: 55%;
	width: 315.5px;
}

#aboutDesigner {
	margin-top: 45vh;
}

.aboutHeader {
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 10px;
}

h2 {
	font-weight: bold;
	font-size: 15pt;
}

.aboutText {
	display: inline-block;
	margin-top: 10px;
	opacity: 1;
	color: #161616;
	left: 20vw;
	transition: 0.5s;
	font-family: Heebo, sans-serif;
	font-size: 11pt;
	line-height: 1.5em;
}

.warningButton {
	box-sizing: content-box;
	display: inline-block;
	padding: 2px 5px 0px 5px;
	line-height: 14pt;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 10pt;
	font-family: Heebo, sans-serif;
	border-style: solid;
	border-width: 1.5px;
	border-color: #bbbbbb;
	color: #bbbbbb;
	cursor: pointer;
}

.warningButton:hover {
	border-color: #6d6d6d;
	color: #6d6d6d;
}

#warningText{
	margin-top: 8px;
	margin-left: 10px;
	display: inline-block;
	width: 80%;
	height: 50px;
	font-size: 10pt;
	font-family: Heebo, sans-serif;
	color: #bbbbbb;
	font-style: italic;
	line-height: 1.3em;
}

.warningButtonOn {
	background-color: #bbbbbb;
	color: white;
}

.warningButtonOn:hover {
	background-color: #6d6d6d;
	color: white;
}

.tellScroll {
	font-size: 14pt;
	position: absolute;
	bottom: 30px;
	cursor: pointer;
	left: 55%;
	color: #bbbbbb;
}

#scroll-up {
	top: 30px;
}

.aboutPointerOn {
	pointer-events: auto;
}


.showAbout {
	opacity: 1;
	transition: 2s;
}

.blurtext {
	color: transparent;
	text-shadow: #ffffff 0.05em 0.05em 0.7em;
	transition: 4s;
	transition-timing-function: ease-in-out;}

.cleartext {
	color: transparent;
	text-shadow: #ffffff 0 0 0.0001em;
	transition: 4s;
	transition-timing-function: ease-in-out;
}

.section {
	display: inline-block;
	z-index: 5;
	position: relative;
	height: 100vh;
	width: 100vw;
	float: left;
	pointer-events: none;
}

.next {
	position: absolute;
	right: 0;
	padding: 100px 30px 100px 100px;
	top: calc(50vh - 48pt - 100px);
	cursor: pointer;
	color: #bbbbbb;
	pointer-events: auto;
}

.previous {
	position: absolute;
	left: 30;
	padding: 100px 100px 100px 30px;
	top: calc(50vh - 48pt - 100px);
	cursor: pointer;
	color: #bbbbbb;
	pointer-events: auto;
}

.fas {
	font-size: 30pt;
}

.fas:hover {
	color: #6d6d6d;
}

.sectionTextContainer {
	cursor: default;
	position: absolute;
	opacity: 1;
	z-index: 5;
	left: 20vw;
	width: 40vw;
	top: 25vh;
	transition: 1s;
	max-width: 480px;
	min-width: 364px;
	pointer-events: auto;
}


.sectionHeader {
	cursor: pointer;
	display: inline-block;
	margin-bottom: 10px;
	opacity: 1;
	color: #161616;
	font-style: italic;
}

.sectionText {
	display: inline-block;
	margin-top: 10px;
	opacity: 1;
	color: #161616;
	left: 20vw;
	transition: 0.5s;
}

.hideSectionText {
	opacity: 0;
	transition: 1s;
}

.blurtext2 {
	color: transparent;
	text-shadow: #282828 0 0 15px;
	transition: 0.3s;
}

.blurtext3 {
	color: transparent;
	text-shadow: #282828 0 0 7.5px;
	transition: 0.3s;
}

.declaration {
	position: fixed;
	height: 100vh;
	width: 100vw;
}

.preamble {
	position: fixed;
	height: 100vh;
	width: 100vw;
}

.box{
	position: fixed;
	transition: 1s;
}

.showExplanation {
	opacity: 1;
	transition: opacity 0.5s;
	transition-timing-function: ease-out;
	visibility: visible;
}

.designer-container {
	float: left;
	display: inline-block;
	position: absolute;
	margin-top: 100vh;
	height: 100vh;
	width: 100vw;
/*	top: 0;
	left: 0;*/
}




.mix1 {
	mix-blend-mode: screen;
}

.mix2 {
	mix-blend-mode: overlay;
}


.imgWidth1 {
	width: 35%;
}

.imgWidth2 {
	width: 55%;
}

.imgWidth3 {
	width: 75%;
}

.imgWidthTemp {
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	transition: 0.5s;
}

.imgHeight1 {
	height: 35%;
}

.imgHeight2 {
	height: 55%;
}

.imgHeight3 {
	height: 75%;
}

.phraseSize1 {
	font-size: 4em;
	line-height: 1.1em;
}

.phraseSize2 {
	font-size: 6em;
	line-height: 1.05em;
}

.phraseSize3 {
	font-size: 8em;
	line-height: 1em;
}



.imgPlace-1-1 {
	left: 5%; top: 5%;
}

.imgPlace-1-2 {
	left: 20%; top: 5%;
}

.imgPlace-1-3 {
	left: 40%; top: 5%;
}

.imgPlace-1-4 {
	left: 60%; top: 5%;
}

.imgPlace-2-1 {
	left: 5%; top: 20%;
}

.imgPlace-2-2 {
	left: 20%; top: 20%;
}

.imgPlace-2-3 {
	left: 40%; top: 20%;
}

.imgPlace-2-4 {
	left: 60%; top: 20%;
}

.imgPlace-3-1 {
	left: 5%; top: 40%;
}

.imgPlace-3-2 {
	left: 20%; top: 40%;
}

.imgPlace-3-3 {
	left: 40%; top: 40%;
}

.imgPlace-3-4 {
	left: 60%; top: 40%;
}

.imgPlace-4-1 {
	left: 5%; top: 60%;
}

.imgPlace-4-2 {
	left: 20%; top: 60%;
}

.imgPlace-4-3 {
	left: 40%; top: 60%;
}

.imgPlace-4-4 {
	left: 60%; top: 60%;
}

.phrasePlace-1-1 {
	left: 10%; top: 10%;
}

.phrasePlace-1-2 {
	left: 30%; top: 10%;
}

.phrasePlace-1-3 {
	left: 50%; top: 10%;
}

.phrasePlace-2-1 {
	left: 10%; top: 30%;
}

.phrasePlace-2-2 {
	left: 30%; top: 30%;
}

.phrasePlace-2-3 {
	left: 50%; top: 50%;
}

.phrasePlace-3-1 {
	left: 10%; top: 50%;
}

.phrasePlace-3-2 {
	left: 30%; top: 50%;
}

.phrasePlace-3-3 {
	left: 50%; top: 50%;
}

.phrasePlace-4-1 {
	left: 10%; top: 70%;
}

.phrasePlace-4-2 {
	left: 30%; top: 70%;
}

.phrasePlace-4-3 {
	left: 50%; top: 70%;
}

.phraseWidth1 {
	width: 100%;
}

.phraseWidth2 {
	width: 60%;
}

.phraseTemp {
	font-size: 3em;
	line-height: 1.1em;
	transition: 0.5s;
}

.phrasePlaceTemp{
	width: 45%;
	transition: 0.5s;
}

.bgColor1-1 {
	background-color: #68a2ff;
}

.textColor1-1 {
	color: #68a2ff;
	border-color: #68a2ff;
}

.bgColor1-2 {
	background-color: #2a5baa;
}

.textColor1-2 {
	color: #2a5baa;
	border-color: #2a5baa;
}

.bgColor2-1 {
	background-color: #cc2222;
}

.textColor2-1 {
	color: #cc2222;
	border-color: #cc2222;
}

.bgColor2-2 {
	background-color: #8c1010;
}

.textColor2-2 {
	color: #8c1010;
	border-color: #8c1010;
}

.bgColor3-1 {
	background-color: #afafaf;
}

.textColor3-1 {
	color: #afafaf;
	border-color: #afafaf;
}

.bgColor3-2 {
	background-color: #212121;
}

.textColor3-2 {
	color: #212121;
	border-color: #212121;
}

.bgColor4-1 {
	background-color: #efc004;
}

.textColor4-1 {
	color: #efc004;
	border-color: #efc004;
}

.bgColor4-2 {
	background-color: #af8c00;
}

.textColor4-2 {
	color: #af8c00;
	border-color: #af8c00;
}

.bgColor5-1 {
	background-color: #7a7def;
}

.textColor5-1 {
	color: #7a7def;
	border-color: #7a7def;
}

.bgColor5-2 {
	background-color: #0d0f5b;
}

.textColor5-2 {
	color: #0d0f5b;
	border-color: #0d0f5b;
}

.bgColor6-1 {
	background-color: #ea7e92;
}

.textColor6-1 {
	color: #ea7e92;
	border-color: #ea7e92;
}

.bgColor6-2 {
	background-color: #5b101d;
}

.textColor6-2 {
	color: #5b101d;
	border-color: #5b101d;
}

.bgColor7-1 {
	background-color: #87b3c4;
}

.textColor7-1 {
	color: #87b3c4;
	border-color: #87b3c4;
}

.bgColor7-2 {
	background-color: #356070;
}

.textColor7-2 {
	color: #356070;
	border-color: #356070;
}

.bgColor8-1 {
	background-color: #ffb107;
}

.textColor8-1 {
	color: #ffb107;
	border-color: #ffb107;
}

.bgColor8-2 {
	background-color: #ad7600;
}

.textColor8-2 {
	color: #ad7600;
	border-color: #ad7600;
}

.bgColor9-1 {
	background-color: #ffe68e;
}

.textColor9-1 {
	color: #ffe68e;
	border-color: #ffe68e;
}

.bgColor9-2 {
	background-color: #c9ac44;
}

.textColor9-2 {
	color: #c9ac44;
	border-color: #c9ac44;
}


.font1 {
	font-family: 'Roboto', sans-serif;
}

.font2 {
	font-family: 'Montserrat', sans-serif;
}

.font3 {
	font-family: 'Oswald', sans-serif;
}

.font4 {
	font-family: 'Merriweather', serif;
}

.font5 {
	font-family: 'Saira Extra Condensed', sans-serif;
}

.font6 {
	font-family: 'Poppins', sans-serif;
}

.font7 {
	font-family: 'Playfair Display', serif;
}

.font8 {
	font-family: 'Lora', serif;
}

.font9 {
	font-family: 'Titillium Web', sans-serif;
}

.font10 {
	font-family: 'Noto Serif', serif;
}

.font11 {
	font-family: 'Quicksand', sans-serif;
}

.font12 {
	font-family: 'Crimson Text', serif;
}

.font13 {
	font-family: 'Bitter', serif;
}

.font14 {
	font-family: 'Libre Baskerville', serif;
}

.font15 {
	font-family: 'Josefin Sans', sans-serif;
}

.font16 {
	font-family: 'Exo 2', sans-serif;
}

.font17 {
	font-family: 'Teko', sans-serif;
}

.font18 {
	font-family: 'Play', sans-serif;
}

.font19 {
	font-family: 'Rokkitt', serif;
}

.font20 {
	font-family: 'Orbitron', sans-serif;
}

.font21 {
	font-family: 'Quattrocento', serif;
}

.font22 {
	font-family: 'Monda', sans-serif;
}

.font23 {
	font-family: 'Philosopher', sans-serif;
}

.font24 {
	font-family: 'Changa', sans-serif;
}

.font25 {
	font-family: 'Archivo', sans-serif;
}

.font26 {
	font-family: 'Unna', serif;
}

.font27 {
	font-family: 'Alfa Slab One', cursive;
	letter-spacing: 0.03em;
}

.font28 {
	font-family: 'Corben', cursive;
}

.font29 {
	font-family: 'Expletus Sans', cursive;
}

.font30 {
	font-family: 'Stardos Stencil', cursive;
}

.weight1 {
	font-weight: 400;
}

.weight2 {
	font-weight: 700;
}


.image-1-pledge-1-1-1 {background: url(../variables/1-pledge/1/1/image1-small.jpg) !important;}
.image-1-pledge-1-1-2 {background: url(../variables/1-pledge/1/1/image2-small.jpg) !important;}
.image-1-pledge-1-2-1 {background: url(../variables/1-pledge/1/2/image1-small.jpg) !important;}
.image-1-pledge-1-2-2 {background: url(../variables/1-pledge/1/2/image2-small.jpg) !important;}
.image-1-pledge-1-3-1 {background: url(../variables/1-pledge/1/3/image1-small.jpg) !important;}
.image-1-pledge-1-3-2 {background: url(../variables/1-pledge/1/3/image2-small.jpg) !important;}
.image-1-pledge-1-4-1 {background: url(../variables/1-pledge/1/4/image1-small.jpg) !important;}
.image-1-pledge-1-4-2 {background: url(../variables/1-pledge/1/4/image2-small.jpg) !important;}
.image-1-pledge-1-5-1 {background: url(../variables/1-pledge/1/5/image1-small.jpg) !important;}
.image-1-pledge-1-5-2 {background: url(../variables/1-pledge/1/5/image2-small.jpg) !important;}
.image-1-pledge-2-1-1 {background: url(../variables/1-pledge/2/1/image1-small.jpg) !important;}
.image-1-pledge-2-1-2 {background: url(../variables/1-pledge/2/1/image2-small.jpg) !important;}
.image-1-pledge-2-2-1 {background: url(../variables/1-pledge/2/2/image1-small.jpg) !important;}
.image-1-pledge-2-2-2 {background: url(../variables/1-pledge/2/2/image2-small.jpg) !important;}
.image-1-pledge-2-3-1 {background: url(../variables/1-pledge/2/3/image1-small.jpg) !important;}
.image-1-pledge-2-3-2 {background: url(../variables/1-pledge/2/3/image2-small.jpg) !important;}
.image-1-pledge-2-4-1 {background: url(../variables/1-pledge/2/4/image1-small.jpg) !important;}
.image-1-pledge-2-4-2 {background: url(../variables/1-pledge/2/4/image2-small.jpg) !important;}
.image-1-pledge-2-5-1 {background: url(../variables/1-pledge/2/5/image1-small.jpg) !important;}
.image-1-pledge-2-5-2 {background: url(../variables/1-pledge/2/5/image2-small.jpg) !important;}
.image-1-pledge-2-6-1 {background: url(../variables/1-pledge/2/6/image1-small.jpg) !important;}
.image-1-pledge-2-6-2 {background: url(../variables/1-pledge/2/6/image2-small.jpg) !important;}
.image-1-pledge-2-7-1 {background: url(../variables/1-pledge/2/7/image1-small.jpg) !important;}
.image-1-pledge-2-7-2 {background: url(../variables/1-pledge/2/7/image2-small.jpg) !important;}
.image-1-pledge-3-1-1 {background: url(../variables/1-pledge/3/1/image1-small.jpg) !important;}
.image-1-pledge-3-1-2 {background: url(../variables/1-pledge/3/1/image2-small.jpg) !important;}
.image-1-pledge-3-2-1 {background: url(../variables/1-pledge/3/2/image1-small.jpg) !important;}
.image-1-pledge-3-2-2 {background: url(../variables/1-pledge/3/2/image2-small.jpg) !important;}
.image-1-pledge-3-3-1 {background: url(../variables/1-pledge/3/3/image1-small.jpg) !important;}
.image-1-pledge-3-3-2 {background: url(../variables/1-pledge/3/3/image2-small.jpg) !important;}
.image-1-pledge-3-4-1 {background: url(../variables/1-pledge/3/4/image1-small.jpg) !important;}
.image-1-pledge-3-4-2 {background: url(../variables/1-pledge/3/4/image2-small.jpg) !important;}
.image-1-pledge-3-5-1 {background: url(../variables/1-pledge/3/5/image1-small.jpg) !important;}
.image-1-pledge-3-5-2 {background: url(../variables/1-pledge/3/5/image2-small.jpg) !important;}
.image-1-pledge-4-1-1 {background: url(../variables/1-pledge/4/1/image1-small.jpg) !important;}
.image-1-pledge-4-1-2 {background: url(../variables/1-pledge/4/1/image2-small.jpg) !important;}
.image-1-pledge-4-2-1 {background: url(../variables/1-pledge/4/2/image1-small.jpg) !important;}
.image-1-pledge-4-2-2 {background: url(../variables/1-pledge/4/2/image2-small.jpg) !important;}
.image-1-pledge-4-3-1 {background: url(../variables/1-pledge/4/3/image1-small.jpg) !important;}
.image-1-pledge-4-3-2 {background: url(../variables/1-pledge/4/3/image2-small.jpg) !important;}
.image-1-pledge-5-1-1 {background: url(../variables/1-pledge/5/1/image1-small.jpg) !important;}
.image-1-pledge-5-1-2 {background: url(../variables/1-pledge/5/1/image2-small.jpg) !important;}
.image-1-pledge-5-2-1 {background: url(../variables/1-pledge/5/2/image1-small.jpg) !important;}
.image-1-pledge-5-2-2 {background: url(../variables/1-pledge/5/2/image2-small.jpg) !important;}
.image-1-pledge-5-3-1 {background: url(../variables/1-pledge/5/3/image1-small.jpg) !important;}
.image-1-pledge-5-3-2 {background: url(../variables/1-pledge/5/3/image2-small.jpg) !important;}
.image-1-pledge-5-4-1 {background: url(../variables/1-pledge/5/4/image1-small.jpg) !important;}
.image-1-pledge-5-4-2 {background: url(../variables/1-pledge/5/4/image2-small.jpg) !important;}
.image-1-pledge-5-5-1 {background: url(../variables/1-pledge/5/5/image1-small.jpg) !important;}
.image-1-pledge-5-5-2 {background: url(../variables/1-pledge/5/5/image2-small.jpg) !important;}
.image-1-pledge-5-6-1 {background: url(../variables/1-pledge/5/6/image1-small.jpg) !important;}
.image-1-pledge-5-6-2 {background: url(../variables/1-pledge/5/6/image2-small.jpg) !important;}
.image-1-pledge-5-7-1 {background: url(../variables/1-pledge/5/7/image1-small.jpg) !important;}
.image-1-pledge-5-7-2 {background: url(../variables/1-pledge/5/7/image2-small.jpg) !important;}
.image-1-pledge-6-1-1 {background: url(../variables/1-pledge/6/1/image1-small.jpg) !important;}
.image-1-pledge-6-1-2 {background: url(../variables/1-pledge/6/1/image2-small.jpg) !important;}
.image-1-pledge-6-2-1 {background: url(../variables/1-pledge/6/2/image1-small.jpg) !important;}
.image-1-pledge-6-2-2 {background: url(../variables/1-pledge/6/2/image2-small.jpg) !important;}
.image-1-pledge-6-3-1 {background: url(../variables/1-pledge/6/3/image1-small.jpg) !important;}
.image-1-pledge-6-3-2 {background: url(../variables/1-pledge/6/3/image2-small.jpg) !important;}
.image-1-pledge-6-4-1 {background: url(../variables/1-pledge/6/4/image1-small.jpg) !important;}
.image-1-pledge-6-4-2 {background: url(../variables/1-pledge/6/4/image2-small.jpg) !important;}
.image-1-pledge-6-5-1 {background: url(../variables/1-pledge/6/5/image1-small.jpg) !important;}
.image-1-pledge-6-5-2 {background: url(../variables/1-pledge/6/5/image2-small.jpg) !important;}
.image-1-pledge-6-6-1 {background: url(../variables/1-pledge/6/6/image1-small.jpg) !important;}
.image-1-pledge-6-6-2 {background: url(../variables/1-pledge/6/6/image2-small.jpg) !important;}
.image-1-pledge-7-1-1 {background: url(../variables/1-pledge/7/1/image1-small.jpg) !important;}
.image-1-pledge-7-1-2 {background: url(../variables/1-pledge/7/1/image2-small.jpg) !important;}
.image-1-pledge-7-2-1 {background: url(../variables/1-pledge/7/2/image1-small.jpg) !important;}
.image-1-pledge-7-2-2 {background: url(../variables/1-pledge/7/2/image2-small.jpg) !important;}
.image-1-pledge-7-3-1 {background: url(../variables/1-pledge/7/3/image1-small.jpg) !important;}
.image-1-pledge-7-3-2 {background: url(../variables/1-pledge/7/3/image2-small.jpg) !important;}
.image-1-pledge-7-4-1 {background: url(../variables/1-pledge/7/4/image1-small.jpg) !important;}
.image-1-pledge-7-4-2 {background: url(../variables/1-pledge/7/4/image2-small.jpg) !important;}
.image-1-pledge-7-5-1 {background: url(../variables/1-pledge/7/5/image1-small.jpg) !important;}
.image-1-pledge-7-5-2 {background: url(../variables/1-pledge/7/5/image2-small.jpg) !important;}
.image-1-pledge-8-1-1 {background: url(../variables/1-pledge/8/1/image1-small.jpg) !important;}
.image-1-pledge-8-1-2 {background: url(../variables/1-pledge/8/1/image2-small.jpg) !important;}
.image-1-pledge-8-2-1 {background: url(../variables/1-pledge/8/2/image1-small.jpg) !important;}
.image-1-pledge-8-2-2 {background: url(../variables/1-pledge/8/2/image2-small.jpg) !important;}
.image-1-pledge-8-3-1 {background: url(../variables/1-pledge/8/3/image1-small.jpg) !important;}
.image-1-pledge-8-3-2 {background: url(../variables/1-pledge/8/3/image2-small.jpg) !important;}
.image-1-pledge-8-4-1 {background: url(../variables/1-pledge/8/4/image1-small.jpg) !important;}
.image-1-pledge-8-4-2 {background: url(../variables/1-pledge/8/4/image2-small.jpg) !important;}
.image-1-pledge-8-5-1 {background: url(../variables/1-pledge/8/5/image1-small.jpg) !important;}
.image-1-pledge-8-5-2 {background: url(../variables/1-pledge/8/5/image2-small.jpg) !important;}
.image-1-pledge-8-6-1 {background: url(../variables/1-pledge/8/6/image1-small.jpg) !important;}
.image-1-pledge-8-6-2 {background: url(../variables/1-pledge/8/6/image2-small.jpg) !important;}

.image-2-declaration-1-1-1 {background: url(../variables/2-declaration/1/1/image1-small.jpg) !important;}
.image-2-declaration-1-1-2 {background: url(../variables/2-declaration/1/1/image2-small.jpg) !important;}
.image-2-declaration-1-2-1 {background: url(../variables/2-declaration/1/2/image1-small.jpg) !important;}
.image-2-declaration-1-2-2 {background: url(../variables/2-declaration/1/2/image2-small.jpg) !important;}
.image-2-declaration-1-3-1 {background: url(../variables/2-declaration/1/3/image1-small.jpg) !important;}
.image-2-declaration-1-3-2 {background: url(../variables/2-declaration/1/3/image2-small.jpg) !important;}
.image-2-declaration-1-4-1 {background: url(../variables/2-declaration/1/4/image1-small.jpg) !important;}
.image-2-declaration-1-4-2 {background: url(../variables/2-declaration/1/4/image2-small.jpg) !important;}
.image-2-declaration-1-5-1 {background: url(../variables/2-declaration/1/5/image1-small.jpg) !important;}
.image-2-declaration-1-5-2 {background: url(../variables/2-declaration/1/5/image2-small.jpg) !important;}
.image-2-declaration-1-6-1 {background: url(../variables/2-declaration/1/6/image1-small.jpg) !important;}
.image-2-declaration-1-6-2 {background: url(../variables/2-declaration/1/6/image2-small.jpg) !important;}
.image-2-declaration-2-1-1 {background: url(../variables/2-declaration/2/1/image1-small.jpg) !important;}
.image-2-declaration-2-1-2 {background: url(../variables/2-declaration/2/1/image2-small.jpg) !important;}
.image-2-declaration-2-2-1 {background: url(../variables/2-declaration/2/2/image1-small.jpg) !important;}
.image-2-declaration-2-2-2 {background: url(../variables/2-declaration/2/2/image2-small.jpg) !important;}
.image-2-declaration-2-3-1 {background: url(../variables/2-declaration/2/3/image1-small.jpg) !important;}
.image-2-declaration-2-3-2 {background: url(../variables/2-declaration/2/3/image2-small.jpg) !important;}
.image-2-declaration-2-4-1 {background: url(../variables/2-declaration/2/4/image1-small.jpg) !important;}
.image-2-declaration-2-4-2 {background: url(../variables/2-declaration/2/4/image2-small.jpg) !important;}
.image-2-declaration-2-5-1 {background: url(../variables/2-declaration/2/5/image1-small.jpg) !important;}
.image-2-declaration-2-5-2 {background: url(../variables/2-declaration/2/5/image2-small.jpg) !important;}
.image-2-declaration-3-1-1 {background: url(../variables/2-declaration/3/1/image1-small.jpg) !important;}
.image-2-declaration-3-1-2 {background: url(../variables/2-declaration/3/1/image2-small.jpg) !important;}
.image-2-declaration-3-2-1 {background: url(../variables/2-declaration/3/2/image1-small.jpg) !important;}
.image-2-declaration-3-2-2 {background: url(../variables/2-declaration/3/2/image2-small.jpg) !important;}
.image-2-declaration-3-3-1 {background: url(../variables/2-declaration/3/3/image1-small.jpg) !important;}
.image-2-declaration-3-3-2 {background: url(../variables/2-declaration/3/3/image2-small.jpg) !important;}
.image-2-declaration-3-4-1 {background: url(../variables/2-declaration/3/4/image1-small.jpg) !important;}
.image-2-declaration-3-4-2 {background: url(../variables/2-declaration/3/4/image2-small.jpg) !important;}
.image-2-declaration-3-5-1 {background: url(../variables/2-declaration/3/5/image1-small.jpg) !important;}
.image-2-declaration-3-5-2 {background: url(../variables/2-declaration/3/5/image2-small.jpg) !important;}
.image-2-declaration-3-6-1 {background: url(../variables/2-declaration/3/6/image1-small.jpg) !important;}
.image-2-declaration-3-6-2 {background: url(../variables/2-declaration/3/6/image2-small.jpg) !important;}
.image-2-declaration-3-7-1 {background: url(../variables/2-declaration/3/7/image1-small.jpg) !important;}
.image-2-declaration-3-7-2 {background: url(../variables/2-declaration/3/7/image2-small.jpg) !important;}
.image-2-declaration-3-8-1 {background: url(../variables/2-declaration/3/8/image1-small.jpg) !important;}
.image-2-declaration-3-8-2 {background: url(../variables/2-declaration/3/8/image2-small.jpg) !important;}
.image-2-declaration-4-1-1 {background: url(../variables/2-declaration/4/1/image1-small.jpg) !important;}
.image-2-declaration-4-1-2 {background: url(../variables/2-declaration/4/1/image2-small.jpg) !important;}
.image-2-declaration-4-2-1 {background: url(../variables/2-declaration/4/2/image1-small.jpg) !important;}
.image-2-declaration-4-2-2 {background: url(../variables/2-declaration/4/2/image2-small.jpg) !important;}
.image-2-declaration-4-3-1 {background: url(../variables/2-declaration/4/3/image1-small.jpg) !important;}
.image-2-declaration-4-3-2 {background: url(../variables/2-declaration/4/3/image2-small.jpg) !important;}
.image-2-declaration-4-4-1 {background: url(../variables/2-declaration/4/4/image1-small.jpg) !important;}
.image-2-declaration-4-4-2 {background: url(../variables/2-declaration/4/4/image2-small.jpg) !important;}
.image-2-declaration-4-5-1 {background: url(../variables/2-declaration/4/5/image1-small.jpg) !important;}
.image-2-declaration-4-5-2 {background: url(../variables/2-declaration/4/5/image2-small.jpg) !important;}
.image-2-declaration-4-6-1 {background: url(../variables/2-declaration/4/6/image1-small.jpg) !important;}
.image-2-declaration-4-6-2 {background: url(../variables/2-declaration/4/6/image2-small.jpg) !important;}
.image-2-declaration-5-1-1 {background: url(../variables/2-declaration/5/1/image1-small.jpg) !important;}
.image-2-declaration-5-1-2 {background: url(../variables/2-declaration/5/1/image2-small.jpg) !important;}
.image-2-declaration-5-2-1 {background: url(../variables/2-declaration/5/2/image1-small.jpg) !important;}
.image-2-declaration-5-2-2 {background: url(../variables/2-declaration/5/2/image2-small.jpg) !important;}
.image-2-declaration-5-3-1 {background: url(../variables/2-declaration/5/3/image1-small.jpg) !important;}
.image-2-declaration-5-3-2 {background: url(../variables/2-declaration/5/3/image2-small.jpg) !important;}
.image-2-declaration-5-4-1 {background: url(../variables/2-declaration/5/4/image1-small.jpg) !important;}
.image-2-declaration-5-4-2 {background: url(../variables/2-declaration/5/4/image2-small.jpg) !important;}
.image-2-declaration-5-5-1 {background: url(../variables/2-declaration/5/5/image1-small.jpg) !important;}
.image-2-declaration-5-5-2 {background: url(../variables/2-declaration/5/5/image2-small.jpg) !important;}
.image-2-declaration-6-1-1 {background: url(../variables/2-declaration/6/1/image1-small.jpg) !important;}
.image-2-declaration-6-1-2 {background: url(../variables/2-declaration/6/1/image2-small.jpg) !important;}
.image-2-declaration-6-2-1 {background: url(../variables/2-declaration/6/2/image1-small.jpg) !important;}
.image-2-declaration-6-2-2 {background: url(../variables/2-declaration/6/2/image2-small.jpg) !important;}
.image-2-declaration-6-3-1 {background: url(../variables/2-declaration/6/3/image1-small.jpg) !important;}
.image-2-declaration-6-3-2 {background: url(../variables/2-declaration/6/3/image2-small.jpg) !important;}
.image-2-declaration-6-4-1 {background: url(../variables/2-declaration/6/4/image1-small.jpg) !important;}
.image-2-declaration-6-4-2 {background: url(../variables/2-declaration/6/4/image2-small.jpg) !important;}
.image-2-declaration-6-5-1 {background: url(../variables/2-declaration/6/5/image1-small.jpg) !important;}
.image-2-declaration-6-5-2 {background: url(../variables/2-declaration/6/5/image2-small.jpg) !important;}
.image-2-declaration-6-6-1 {background: url(../variables/2-declaration/6/6/image1-small.jpg) !important;}
.image-2-declaration-6-6-2 {background: url(../variables/2-declaration/6/6/image2-small.jpg) !important;}

.image-3-constitution-1-1-1 {background: url(../variables/3-constitution/1/1/image1-small.jpg) !important;}
.image-3-constitution-1-1-2 {background: url(../variables/3-constitution/1/1/image2-small.jpg) !important;}
.image-3-constitution-1-2-1 {background: url(../variables/3-constitution/1/2/image1-small.jpg) !important;}
.image-3-constitution-1-2-2 {background: url(../variables/3-constitution/1/2/image2-small.jpg) !important;}
.image-3-constitution-1-3-1 {background: url(../variables/3-constitution/1/3/image1-small.jpg) !important;}
.image-3-constitution-1-3-2 {background: url(../variables/3-constitution/1/3/image2-small.jpg) !important;}
.image-3-constitution-1-4-1 {background: url(../variables/3-constitution/1/4/image1-small.jpg) !important;}
.image-3-constitution-1-4-2 {background: url(../variables/3-constitution/1/4/image2-small.jpg) !important;}
.image-3-constitution-1-5-1 {background: url(../variables/3-constitution/1/5/image1-small.jpg) !important;}
.image-3-constitution-1-5-2 {background: url(../variables/3-constitution/1/5/image2-small.jpg) !important;}
.image-3-constitution-2-1-1 {background: url(../variables/3-constitution/2/1/image1-small.jpg) !important;}
.image-3-constitution-2-1-2 {background: url(../variables/3-constitution/2/1/image2-small.jpg) !important;}
.image-3-constitution-2-2-1 {background: url(../variables/3-constitution/2/2/image1-small.jpg) !important;}
.image-3-constitution-2-2-2 {background: url(../variables/3-constitution/2/2/image2-small.jpg) !important;}
.image-3-constitution-2-3-1 {background: url(../variables/3-constitution/2/3/image1-small.jpg) !important;}
.image-3-constitution-2-3-2 {background: url(../variables/3-constitution/2/3/image2-small.jpg) !important;}
.image-3-constitution-2-4-1 {background: url(../variables/3-constitution/2/4/image1-small.jpg) !important;}
.image-3-constitution-2-4-2 {background: url(../variables/3-constitution/2/4/image2-small.jpg) !important;}
.image-3-constitution-3-1-1 {background: url(../variables/3-constitution/3/1/image1-small.jpg) !important;}
.image-3-constitution-3-1-2 {background: url(../variables/3-constitution/3/1/image2-small.jpg) !important;}
.image-3-constitution-3-2-1 {background: url(../variables/3-constitution/3/2/image1-small.jpg) !important;}
.image-3-constitution-3-2-2 {background: url(../variables/3-constitution/3/2/image2-small.jpg) !important;}
.image-3-constitution-3-3-1 {background: url(../variables/3-constitution/3/3/image1-small.jpg) !important;}
.image-3-constitution-3-3-2 {background: url(../variables/3-constitution/3/3/image2-small.jpg) !important;}
.image-3-constitution-3-4-1 {background: url(../variables/3-constitution/3/4/image1-small.jpg) !important;}
.image-3-constitution-3-4-2 {background: url(../variables/3-constitution/3/4/image2-small.jpg) !important;}
.image-3-constitution-3-5-1 {background: url(../variables/3-constitution/3/5/image1-small.jpg) !important;}
.image-3-constitution-3-5-2 {background: url(../variables/3-constitution/3/5/image2-small.jpg) !important;}
.image-3-constitution-3-6-1 {background: url(../variables/3-constitution/3/6/image1-small.jpg) !important;}
.image-3-constitution-3-6-2 {background: url(../variables/3-constitution/3/6/image2-small.jpg) !important;}
.image-3-constitution-3-7-1 {background: url(../variables/3-constitution/3/7/image1-small.jpg) !important;}
.image-3-constitution-3-7-2 {background: url(../variables/3-constitution/3/7/image2-small.jpg) !important;}
.image-3-constitution-4-1-1 {background: url(../variables/3-constitution/4/1/image1-small.jpg) !important;}
.image-3-constitution-4-1-2 {background: url(../variables/3-constitution/4/1/image2-small.jpg) !important;}
.image-3-constitution-4-2-1 {background: url(../variables/3-constitution/4/2/image1-small.jpg) !important;}
.image-3-constitution-4-2-2 {background: url(../variables/3-constitution/4/2/image2-small.jpg) !important;}
.image-3-constitution-4-3-1 {background: url(../variables/3-constitution/4/3/image1-small.jpg) !important;}
.image-3-constitution-4-3-2 {background: url(../variables/3-constitution/4/3/image2-small.jpg) !important;}
.image-3-constitution-4-4-1 {background: url(../variables/3-constitution/4/4/image1-small.jpg) !important;}
.image-3-constitution-4-4-2 {background: url(../variables/3-constitution/4/4/image2-small.jpg) !important;}
.image-3-constitution-4-5-1 {background: url(../variables/3-constitution/4/5/image1-small.jpg) !important;}
.image-3-constitution-4-5-2 {background: url(../variables/3-constitution/4/5/image2-small.jpg) !important;}
.image-3-constitution-4-6-1 {background: url(../variables/3-constitution/4/6/image1-small.jpg) !important;}
.image-3-constitution-4-6-2 {background: url(../variables/3-constitution/4/6/image2-small.jpg) !important;}
.image-3-constitution-4-7-1 {background: url(../variables/3-constitution/4/7/image1-small.jpg) !important;}
.image-3-constitution-4-7-2 {background: url(../variables/3-constitution/4/7/image2-small.jpg) !important;}
.image-3-constitution-5-1-1 {background: url(../variables/3-constitution/5/1/image1-small.jpg) !important;}
.image-3-constitution-5-1-2 {background: url(../variables/3-constitution/5/1/image2-small.jpg) !important;}
.image-3-constitution-5-2-1 {background: url(../variables/3-constitution/5/2/image1-small.jpg) !important;}
.image-3-constitution-5-2-2 {background: url(../variables/3-constitution/5/2/image2-small.jpg) !important;}
.image-3-constitution-5-3-1 {background: url(../variables/3-constitution/5/3/image1-small.jpg) !important;}
.image-3-constitution-5-3-2 {background: url(../variables/3-constitution/5/3/image2-small.jpg) !important;}
.image-3-constitution-5-4-1 {background: url(../variables/3-constitution/5/4/image1-small.jpg) !important;}
.image-3-constitution-5-4-2 {background: url(../variables/3-constitution/5/4/image2-small.jpg) !important;}
.image-3-constitution-5-5-1 {background: url(../variables/3-constitution/5/5/image1-small.jpg) !important;}
.image-3-constitution-5-5-2 {background: url(../variables/3-constitution/5/5/image2-small.jpg) !important;}
.image-3-constitution-6-1-1 {background: url(../variables/3-constitution/6/1/image1-small.jpg) !important;}
.image-3-constitution-6-1-2 {background: url(../variables/3-constitution/6/1/image2-small.jpg) !important;}
.image-3-constitution-6-2-1 {background: url(../variables/3-constitution/6/2/image1-small.jpg) !important;}
.image-3-constitution-6-2-2 {background: url(../variables/3-constitution/6/2/image2-small.jpg) !important;}
.image-3-constitution-6-3-1 {background: url(../variables/3-constitution/6/3/image1-small.jpg) !important;}
.image-3-constitution-6-3-2 {background: url(../variables/3-constitution/6/3/image2-small.jpg) !important;}
.image-3-constitution-6-4-1 {background: url(../variables/3-constitution/6/4/image1-small.jpg) !important;}
.image-3-constitution-6-4-2 {background: url(../variables/3-constitution/6/4/image2-small.jpg) !important;}
.image-3-constitution-6-5-1 {background: url(../variables/3-constitution/6/5/image1-small.jpg) !important;}
.image-3-constitution-6-5-2 {background: url(../variables/3-constitution/6/5/image2-small.jpg) !important;}
.image-3-constitution-6-6-1 {background: url(../variables/3-constitution/6/6/image1-small.jpg) !important;}
.image-3-constitution-6-6-2 {background: url(../variables/3-constitution/6/6/image2-small.jpg) !important;}
.image-3-constitution-7-1-1 {background: url(../variables/3-constitution/7/1/image1-small.jpg) !important;}
.image-3-constitution-7-1-2 {background: url(../variables/3-constitution/7/1/image2-small.jpg) !important;}
.image-3-constitution-7-2-1 {background: url(../variables/3-constitution/7/2/image1-small.jpg) !important;}
.image-3-constitution-7-2-2 {background: url(../variables/3-constitution/7/2/image2-small.jpg) !important;}
.image-3-constitution-7-3-1 {background: url(../variables/3-constitution/7/3/image1-small.jpg) !important;}
.image-3-constitution-7-3-2 {background: url(../variables/3-constitution/7/3/image2-small.jpg) !important;}
.image-3-constitution-7-4-1 {background: url(../variables/3-constitution/7/4/image1-small.jpg) !important;}
.image-3-constitution-7-4-2 {background: url(../variables/3-constitution/7/4/image2-small.jpg) !important;}
.image-3-constitution-7-5-1 {background: url(../variables/3-constitution/7/5/image1-small.jpg) !important;}
.image-3-constitution-7-5-2 {background: url(../variables/3-constitution/7/5/image2-small.jpg) !important;}
.image-3-constitution-7-6-1 {background: url(../variables/3-constitution/7/6/image1-small.jpg) !important;}
.image-3-constitution-7-6-2 {background: url(../variables/3-constitution/7/6/image2-small.jpg) !important;}
.image-3-constitution-7-7-1 {background: url(../variables/3-constitution/7/7/image1-small.jpg) !important;}
.image-3-constitution-7-7-2 {background: url(../variables/3-constitution/7/7/image2-small.jpg) !important;}
.image-3-constitution-8-1-1 {background: url(../variables/3-constitution/8/1/image1-small.jpg) !important;}
.image-3-constitution-8-1-2 {background: url(../variables/3-constitution/8/1/image2-small.jpg) !important;}
.image-3-constitution-8-2-1 {background: url(../variables/3-constitution/8/2/image1-small.jpg) !important;}
.image-3-constitution-8-2-2 {background: url(../variables/3-constitution/8/2/image2-small.jpg) !important;}
.image-3-constitution-8-3-1 {background: url(../variables/3-constitution/8/3/image1-small.jpg) !important;}
.image-3-constitution-8-3-2 {background: url(../variables/3-constitution/8/3/image2-small.jpg) !important;}
.image-3-constitution-8-4-1 {background: url(../variables/3-constitution/8/4/image1-small.jpg) !important;}
.image-3-constitution-8-4-2 {background: url(../variables/3-constitution/8/4/image2-small.jpg) !important;}
.image-3-constitution-9-1-1 {background: url(../variables/3-constitution/9/1/image1-small.jpg) !important;}
.image-3-constitution-9-1-2 {background: url(../variables/3-constitution/9/1/image2-small.jpg) !important;}
.image-3-constitution-9-2-1 {background: url(../variables/3-constitution/9/2/image1-small.jpg) !important;}
.image-3-constitution-9-2-2 {background: url(../variables/3-constitution/9/2/image2-small.jpg) !important;}
.image-3-constitution-9-3-1 {background: url(../variables/3-constitution/9/3/image1-small.jpg) !important;}
.image-3-constitution-9-3-2 {background: url(../variables/3-constitution/9/3/image2-small.jpg) !important;}
.image-3-constitution-9-4-1 {background: url(../variables/3-constitution/9/4/image1-small.jpg) !important;}
.image-3-constitution-9-4-2 {background: url(../variables/3-constitution/9/4/image2-small.jpg) !important;}

.image-4-designer-1-1-1 {background: url(../variables/4-designer/1/1/image1-small.jpg) !important;}
.image-4-designer-1-2-1 {background: url(../variables/4-designer/1/2/image1-small.jpg) !important;}
.image-4-designer-1-3-1 {background: url(../variables/4-designer/1/3/image1-small.jpg) !important;}
.image-4-designer-1-4-1 {background: url(../variables/4-designer/1/4/image1-small.jpg) !important;}
.image-4-designer-1-5-1 {background: url(../variables/4-designer/1/5/image1-small.jpg) !important;}
.image-4-designer-1-6-1 {background: url(../variables/4-designer/1/6/image1-small.jpg) !important;}
.image-4-designer-1-7-1 {background: url(../variables/4-designer/1/7/image1-small.jpg) !important;}
.image-4-designer-1-8-1 {background: url(../variables/4-designer/1/8/image1-small.jpg) !important;}
.image-4-designer-1-9-1 {background: url(../variables/4-designer/1/9/image1-small.jpg) !important;}
.image-4-designer-1-10-1 {background: url(../variables/4-designer/1/10/image1-small.jpg) !important;}
.image-4-designer-1-11-1 {background: url(../variables/4-designer/1/11/image1-small.jpg) !important;}
.image-4-designer-1-12-1 {background: url(../variables/4-designer/1/12/image1-small.jpg) !important;}
.image-4-designer-1-13-1 {background: url(../variables/4-designer/1/13/image1-small.jpg) !important;}
.image-4-designer-1-14-1 {background: url(../variables/4-designer/1/14/image1-small.jpg) !important;}
.image-4-designer-1-15-1 {background: url(../variables/4-designer/1/15/image1-small.jpg) !important;}

.variablesToFront .imgWidth1 {
	transition: 0.5s;
}

.variablesToFront .imgWidth2 {
	transition: 0.5s;
}

.variablesToFront .imgWidth3 {
	transition: 0.5s;
}


.variablesToFront .phraseSize1 {
	transition: 0.6s;
}

.variablesToFront .phraseSize2 {
	transition: 0.6s;
}

.variablesToFront .phraseSize3 {
	transition: 0.6s;
}

.variablesToFront .phrasePlace-1-1 {
	transition: 0.6s;
}

.variablesToFront .phrasePlace-1-2 {
	transition: 0.6s;
}

.variablesToFront .phrasePlace-1-3 {
	transition: 0.6s;
}

.variablesToFront .phrasePlace-2-1 {
	transition: 0.6s;
}

.variablesToFront .phrasePlace-2-2 {
	transition: 0.6s;
}

.variablesToFront .phrasePlace-2-3 {
	transition: 0.6s;
}

.variablesToFront .phrasePlace-3-1 {
	transition: 0.6s;
}

.variablesToFront .phrasePlace-3-2 {
	transition: 0.6s;
}

.variablesToFront .phrasePlace-3-3 {
	transition: 0.6s;
}

.variablesToFront .phrasePlace-4-1 {
	transition: 0.6s;
}

.variablesToFront .phrasePlace-4-2 {
	transition: 0.6s;
}

.variablesToFront .phrasePlace-4-3 {
	transition: 0.6s;
}

.readArticle .phraseHeadingContainer {
	top: 40px;
	left: 20px;
}





/*@media only screen and (orientation: portrait) {*/
@media only screen and (max-device-width: 530px) and (orientation: portrait) {

	html, body{
		position: relative;
		font-size: 16pt;
		line-height: 1.3em;
	}

	.bar {
		visibility: hidden;
	}

	.menuMobile {
		z-index: 60;
		color: #bbbbbb;
		visibility: visible;
		position: fixed;
		top: 35px;
		right: 30px;
		width: 40%;
		height: auto;
		font-size: 11pt;
		font-family: Heebo, sans-serif;
		margin-left: 30%;
	}

	.menuMobileBack {
		transition-delay: 0.8s;
		z-index: 5;
	}

	.aboutButtonMobile {
		float: left;
	}

	.archiveButtonMobile {
		float: right;
		
	}

	.archiveButtonMobile a {
		text-decoration: none;
		color: #bbbbbb;
	}


	h3 {
		font-weight: bold;
		font-size: 20pt;
		line-height: 16pt;
		text-align: left;
		margin: 0;
	}

	.otherMenuItems {
		visibility: hidden;
	}

	.variablesOverlay {
		width: calc(100% - 60px);
		height: calc(100% - 60px);
		top: 30px;
		left: 30px;
	}

	.articleText {
		width: calc(100% - 30px);
		margin: 0px 15px 15px 15px;
	}

	.articleText p {
		font-size: 12pt;
	}

	.articleBox {
		width: 100%;
	}

	.articleBoxPeek {
		height: 25px;
	}

	.articleBoxBounce {
		height: 30px;
	}

	.articleBoxExpand {
		height: 60%;
	}

	.readMore {
		line-height: 20pt;
		padding-right: 10px;
		font-size: 12pt;
		height: 30px;
	}

	.caption {
		width: 100%;
		font-size: 10pt;
		line-height: 1.2em;
	}

	.caption p {
		font-weight: normal !important;
		margin: 10px 0px 10px 0px;
	}

	.phraseHeading {
		pointer-events: none;
		cursor: default;
	}

	.exitOverlay {
		padding: 20px;
		top: 20px;
		right: 20px;
	}

	h1 {
		width: 100vw;
		margin: auto;
		font-size: 4em;
		line-height: 0.8em;
		top: 40%;
		left: 10%;
	}

	.titleGrow {
		transform: scale(1.5,1.5) translateX(5%);
		transition: 2s;
		transition-timing-function: ease;
	}

	.infoClickBox {
		top: 25vh;
		left: 5vw;
		width: 90vw;
		height: 35vh;
	}


	.infoText {
		width: 100%;
		line-height: 16pt;
	}

	.infoTextTop {
		top: 100%;
	}

	.infoTextBottom {
		margin-top: 50pt;
	}

	.aboutTextContainer {
		margin-top: 15vh;
		left: 10%;
		width: 80%;
	}

	.aboutHeader {
		font-size: 14pt;
	}

	.aboutText {
		margin-top: 10px;
		font-size: 10pt;
		line-height: 1.5em;
	}

	#warningText{
		margin-top: 10px;
		display: inline-block;
		width: 80%;
		height: 50px;
		font-size: 10pt;
		font-family: Heebo, sans-serif;
		color: #bbbbbb;
		font-style: italic;
		line-height: 1.25em;
	}

	.tellScroll {
		bottom: 15vh;
		left: 10%;
		/*left: 10%;*/
	}

	.sectionTextContainer {
		left: 10%;
		width: 80%;
		top: 25%;
		transition: 1s;
		max-width: 80%;
		min-width: 80%;
	}


	.sectionHeader {
		margin-bottom: 20px;
	}

	.sectionText {
		display: inline-block;
		margin-top: 10px;
		left: 0%;
		width: 100%;
	}

	.next {
		top: 75vh;
		padding: 60px 20px 80px 30px;
	}

	.previous {
		top: 75vh;
		padding: 60px 30px 80px 20px;
	}

	.imgWidthTemp {
		width: 100%;
		height: 40%;
	}

	.phrase {
		border-bottom: #cccccc solid 2px;
		padding: 0;
	}

	.phraseSize1 {
		font-size: 2.5em;
		line-height: 1.1em;
	}

	.phraseSize2 {
		font-size: 3.5em;
		line-height: 1.05em;
	}

	.phraseSize3 {
		font-size: 4.5em;
		line-height: 1em;
	}

	.phraseTemp {
		font-size: 2.5em;
		line-height: 1.1em;
		transition: 0.5s;
	}

	.phrasePlaceTemp{
		transition: 0.5s;
	}

}
